<title>Singularity Scathach Bot</title>
<link rel="icon" type="image/x-icon" href="img/favicon.ico">
<meta name="description" content="Singularity Scathach bot">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:title" content="Singularity Scathach bot">
<meta name="og:description" content="Singularity Scathach bot">
<meta name="og:image" content="img/sca.png">

<link rel="stylesheet" href="style/dark.css">
<link rel="prefetch" href="img/sca.png">


<div class="loading">
    <div class="rotmate-image" style="pointer-events: none;">
        <img src="img/sca.png" width="auto" height="auto" alt="Scathach bot logo" title="Scathach bot loading" />
    </div>
</div>