<title>You will be redirected in 2 seconds</title>
<link rel="icon" type="image/x-icon" href="img/favicon.ico">
<meta name="description" content="Singularity Scathach bot">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="og:title" content="Singularity Scathach bot">
<meta name="og:description" content="Singularity Scathach bot">
<meta name="og:image" content="img/sca.png">
<link rel="stylesheet" href="style/dark.css">

<script>
    // add example ?id=google then redirect to google.com
    var url = window.location.href;
    var id = url.split("?id=")[1];
    if (id) {
        setTimeout(function() {
            window.location.href = `https://danbooru.donmai.us/posts/${id}`;
        }, 2000);
    }
</script>

<link rel="prefetch" href="img/sca.png">
<div class="loading">
    <div class="rotmate-image rotmate-image " style="pointer-events: none;">
        <img src="img/sca.png" width="auto" height="auto" alt="Scathach bot logo" title="Scathach bot loading" />
    </div>
</div>