body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100vh;
  }
  
  img {
    width: 100%;
    max-width: 550px;
    height: auto;
  }

  .image_absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .loading {
    position: fixed;
    z-index: 999;
    text-align: center;
    overflow: show;
    margin: auto;
    top: 18%;
    bottom: 0;
      left: 0;
      right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
      background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
  
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  
  
  .loading:not(:required):after {
    content: '';
    display: block;
  }
  
  
  .mubeng {
    animation-name: rotateme;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  .rotmate-image {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }
  
  @-webkit-keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @keyframes rotateme {
    from {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    to {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  
  @-webkit-keyframes bounce {
    0% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  
    100% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  
  @keyframes bounce {
    0% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  
    50% {
      -webkit-transform: translateY(10px);
      transform: translateY(10px);
    }
  
    100% {
      -webkit-transform: translateY(-5px);
      transform: translateY(-5px);
    }
  }
  
  @-webkit-keyframes zoom-inout {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  
  @keyframes zoom-inout {
    0% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  
    50% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
  
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }